{% extends "base.html" %}
{% block title %}Home Page{% endblock%}
{% block content %}

<h1>{{ context }}</h1>
<table class="table">
    <thead>
        <tr>
            <th>KO ID</th>
            <th>KO Name</th>
            <th>Full Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for (ko_id, ko_name, ko_full_name), details in kegg_entries %}
        <tr>
            <td>{{ ko_id }}</td>
            <td>{{ ko_name }}</td>
            <td>{{ ko_full_name }}</td>
            <td>
                <button data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">View Details</button>
            </td>
        </tr>
        <tr class="collapse" id="collapse{{ loop.index }}">
            <td colspan="4">
                <table class="table">
                    <tr>
                        <th>Bin Name</th>
                        <th>GO</th>
                        <th>KO</th>
                        <th>EggNOG Description</th>
                    </tr>
                    {% for detail in details %}
                    <tr>
                        <td>{{ detail[0] }}</td>
                        <td>
                            {% if detail[1]|length > 5 %}
                                <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasGO{{ loop.index }}">More</button>
                                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasGO{{ loop.index }}">
                                    <div class="offcanvas-header">
                                        <h5 class="offcanvas-title">GO Terms</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        {% for go in detail[1] %}
                                            <div>{{ go }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div style="max-height: 100px; overflow-y: auto;">
                                    {% for go in detail[1] %}
                                        <div>{{ go }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </td>
                        <td>{{ detail[2] }}</td>
                        <td>{{ detail[3] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock%}